/* =================== font link css part start =================== */

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

/* =================== font link css part end =================== */

/* =================== common css part start =================== */

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.container{
    width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
}

body{
    background: #ffffff;
}

:root{
    --Gluten: "Gluten", cursive;
}

/* =================== common css part start =================== */

/* =================== game manu css part start =================== */

#game_manu .container{
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #91f6fa;
    border-radius: 20px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: var(--Gluten);
    padding-bottom: 50px;
}

#game_manu .buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    width: 200px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6), 10px 10px 5px rgba(0,0,0,0.1), inset 10px 10px 30px rgba(255,255,255);
    background-color: rgba(255, 255, 255, 0.2);
}

.buttons button:hover{
    background-color: #00ccff;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0), 10px 10px 5px rgba(0,0,0,0), inset 10px 10px 30px rgba(255,255,255);
    color: #ffffff;
    transform: translateY(5px);
}

.restart_btn{
    display: none;
}

/* =================== game manu css part end =================== */

/* =================== game input css part start =================== */

#game_area .container{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #91f6fa;
    border-radius: 20px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.input_area{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input_area p{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: var(--Gluten);
    
}

.input_area h2{
    font-size: 25px;
    font-weight: 200;
    font-family: var(--Gluten);
}

.player1, .player2, .player3, .player4{
    width: 800px;
    height: 100px;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -50px -50px 50px rgba(255, 255, 255, 0.2), inset 50px 50px 50px rgba(0,0,0,0.1);
    background-color: #effeff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}

.dynamic_input{
    display: none;
}

input{
    width: 250px;
    height: 30px;
    background-color: rgb(120, 247, 162);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 200;
    font-family: var(--Gluten);
    cursor: pointer;
    text-align: center;
}

/* =================== game input css part end =================== */

/* =================== player button css part start =================== */

button{
    width: 100px;
    height: 50px;
    border: none;
    background-color: #00ccff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6), 10px 10px 5px rgba(0,0,0,0.1), inset 10px 10px 30px rgba(255,255,255);
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--Gluten);
    text-align: center;
    transition: all linear 0.2s;
}

button:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6), 10px 10px 5px rgba(0,0,0,0.1), inset -5px -5px 30px rgba(255,255,255);
}

button:active{
    transform: translateY(5px);
    box-shadow: none;
}

/* =================== button css part end =================== */

/* =================== result css part start =================== */

#result .container{
    display: flex;
    justify-content: space-evenly;
}

#result .lost{
    display: flex;
    flex-direction: column;
} 

.player1Lost , .player2Lost, .player3Lost, .player4Lost{
    width: 100px;
    height: 150px;
    display: none;
}

#result .win_part{
    justify-content: center;
    align-items: center;
    display: none;
}

.win_part img{
    width: 250px;
}

.win_part p{
    font-size: 50px;
    font-weight: 600;
    font-family: var(--Gluten);
    margin-top: 50px;
    text-align: center;
}

.player1_win, .player2_win, .player3_win, .player4_win{
    display: none ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reveal{
    font-size: 40px;
    font-weight: 600;
    font-family: var(--Gluten);
    text-align: center;
    line-height: 60px;
    margin-top: 200px;
}

/* =================== result css part end =================== */

/* =================== error css part start =================== */

.error{
    width: 200px;
    height: 30px;
    background-color: rgb(255, 128, 255);
    font-size: 15px;
    font-weight: 300;
    font-family: var(--Gluten);
    display: flex;
    align-content: center;
    position: absolute;
    text-align: center;
    transform: translate(60px, 60px);
    border-radius: 15px;
    display: none;
    animation: error 0.6s linear alternate infinite; /*keyframe animation*/
}

.error::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 128, 255);
    transform: rotate(45deg);
    left: 20px;
    bottom: -5px;
}

/* == error animation == */
@keyframes error {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* =================== error css part end =================== */

/* =================== guess term css part start =================== */

#game_area .container{
    position: relative;
}

.guess{
    width: 100px;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(255, 255, 255, 0.1), inset -50px -50px 50px rgba(0, 0, 0, 0.1), inset 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 50px;
    position: absolute;
    right: 60px;
    top: 40px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--Gluten);
    display: none;
    animation: terms 0.6s linear alternate infinite; /*keyframe animation*/
}

/* == terms animation == */
@keyframes terms {
    0%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

/* =================== guess term css part end =================== */

/* =================== chearing css part start =================== */

.chearing{
    width: 100%;
    position: absolute;
    display: none;
    transform: translateY(-80px);
}

.chearing img{
    width: 100%;
}

/* =================== chearing css part end =================== */



